/* NOTE: Google maps cannot use tailwind styles - these will need to be updated when tailwind.config is updated */

.pac-container {
	background-color: #ffffff;
	border-color: #ffbe4a;
	border-width: 2px;
	border-top-width: 0px;
	border-radius: 0.5rem;
	border-top-right-radius: 0rem;
	border-top-left-radius: 0rem;
	box-shadow: none;
	margin-top: -0.3rem;
	box-sizing: content-box;
}

.pac-item {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-color: #ffffff;
}

.pac-item:hover {
	background-color: #a9a9a9;
	cursor: pointer;
}

.pac-item-query {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
